@model LoginFacebookGoogle.Models.ExternalLoginConfirmationViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActualizarDatos</title>
</head>
<body>    
    @using (Html.BeginForm())
    {
        foreach (var item in Model )
        {
            <div class="container">
                <div class="abs-center2">
                    <section id="loginForm">

                        <h2>Actualizar datos</h2>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Nombre, new { @class = "col-md-2 control-label" })
                            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="Enviar" class="btn btn-default" value="Registrarse" />
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        }
    }
</body>
</html>

